@{
    ViewData["Title"] = "Главная";
}

<div class="row">
    <div class="side">
        Описание соцсети
    </div>
    <div class="main">
        <partial name = "Login"></partial>
        <partial name="Register"/>
    </div>
</div>